.list_wrapper{
	padding:1rem;
}
.diary_row{
	padding:1rem;
	border-radius:7px;
    box-shadow: 0.5px 0.5px 1.5px 0px rgba(0,0,0,0.2);
    background-color:white;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;

}
.title_block{
	width:100%;
}
.diary_time{
	font-size:13px!important;
	color:rgba(100,100,100,1);
}
#add_new{
	margin:auto;
    text-align: center;
}
.open_new_diary{
	right:0%!important;
}
.header_component{
	font-weight:bold;
}
.diary_title{
	font-weight:500;
    text-align: left;
    max-height:30px;
    overflow: hidden;
    font-size:18px;
    transition: .1s ;
    width: 100%;
    margin-right:5px;
}
.accordion_title{
    display: flex;
    justify-content: space-between;
}
.accordion_content{
	width:100%;	
    margin: 0px!important;
}
.diary_content{
	width: 100%;
	height:auto;
	padding-bottom:10px;
	font-size:15px;
    color: rgb(96 96 96);
}
.content{
    overflow: hidden;
	transition: all 0.5s;
	height:0px;
}
.header_accordion{
	display: flex;
    width: 100%;
}
#validation_diary{
	display:none;
	margin:auto;
    text-align: center;
}
.diary_add{
	width:500px;
	position: fixed;
	height:100vh;
	background:white;
	z-index: 99;
	top:0;
	right:-100%;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%);
    transition: 500ms;
}
.new_diary_heading{
	padding:1rem;
    justify-content: center;
}
.form-new-diary{
	padding:1rem;
}
.accordion_arrow{
    height: 20px;
    position: relative;
    transition: .5s ;
    width: 20px!important;
    margin-top:8px;
  
}
.diary_option{
	height: 20px;
    width: 20px!important;
    position: relative;
    rotate:90deg;
}
.title_right{
    display: flex;
    width:auto!important;
    flex-direction: column;
    align-items: end;	
    justify-content: space-between;
}
.delete_view{
	background:white;
	position: absolute;
	top: 10px;
    right: 50px;
	border:0.2px solid #3c3c3c1f;
	border-radius:5px;
    box-shadow: 6px 3px 5px 0px rgb(0 0 0 / 20%);
	z-index: 99;
	padding:10px;
	display:none;
}
.option_view{
	background:white;
	position: absolute;
	top: 10px;
    right: 50px;
	border:0.2px solid #3c3c3c1f;
	border-radius:5px;
    box-shadow: 6px 3px 5px 0px rgb(0 0 0 / 20%);
	z-index: 99;
	display: none;
}
.show{
	display:block;
}
.edit_view{
	background:white;
	border-radius:5px;
}
@media only screen and (min-width: 1024px) {
.diary_row:hover{
	transition-duration: 300ms;
    box-shadow: 6px 3px 5px 0px rgb(0 0 0 / 20%);
}
}
.form-new-diary span {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
	.diary_add{
	width: 100%;
	}
	.form-new-diary{
	padding:10px;
}
	.list_wrapper{
	padding:.5rem;
}
	.diary_row{
	padding: 0.5rem;
}

.diary_title{
	font-weight:bold;
}
.diary_content{
	font-size:16px;
}
#add_new {
    text-align: end;
}
.diary_time{
	font-size:12px!important;
}
.option_view{
    right: 40px;
}
.accordion_arrow{
    height: 15px;
    width: 15px!important;
  
}
.diary_option{
	height: 15px;
    width: 15px!important;
}
}