
.profile_image{
	width:100px;
}
.avatar_frame{
	width:100px;
	max-height:100px;
	overflow: hidden;
}
.user_wrapper{
	padding:5px;
}
.user_frame{
	padding:10px;
	background: white;
	border-radius:5px;
}

@media only screen and (max-width: 767px) {
.profile_image{
	width:100%;
}
.avatar_frame{
	width:100%;
	max-height:50vh;
	overflow: hidden;
}
.info_frame{
	margin-top:1rem!important;
}
}