:root{
	--color-primary: #FF9494;
	--color-secondary: #C1EFFF;
	--color-text-white: #fff;
	--color-dark: rbga(100,100,100,1);
	--color-smoke: rgba(200,200,200,1);
}
*{
	padding:0;
	margin:0;
}
body{
	overflow-x: hidden!important;
}

#body_login{
	background-color:var(--color-secondary);
}
@font-face {
	font-family: Barlow-Semibold;
	src: url(../fonts/Barlow-SemiBold.ttf);
} 
@font-face {
	font-family: Barlow-Medium;
	src: url(../fonts/Barlow-Medium.ttf);
} 
.nav_header{
	width:100%;
	height: auto;
	background-color: white;
	border-bottom: 0.5px solid;
	border-color:var(--color-smoke);
}
.container{
	min-height:100vh;
}
.form-container{
	margin-top:20%;
	padding:1.5rem 3rem;
	background-color:rgba(255,255,255,0.5);
	border-radius:3%;
    box-shadow: 0.5px 0.5px 1.5px 0px rgba(0,0,0,0.3);
}
.active{
	background-color:var(--color-primary)!important;
}
.nav-link{
	color: var(--color-dark) !important;
}
.nav-link:hover{
	background-color: var(--color-secondary);
	transition-duration: 300ms;
	color: var(--color-dark) !important;
}
.logo_heading{
	text-decoration: none;
	color:var(--color-dark)!important;
	font-weight:bold!important;
}
.nav-logo{
	padding-top:2rem;
	margin-bottom:1em!important;
}
.full_name_nav{
	display:flex;
	flex-direction:row;
}
.logout_link{
	display: block;
    padding: 0.5rem;
    color:red;
    text-decoration: none;
}
.nav_mobile{
	padding:10px;
	width:100%;
	border-bottom: 0.5px solid;
	border-color:var(--color-smoke);
	background-color:white;
}
.icon_menu_mobile{
	width:40px!important;
	height:40px;
}
.logo_authen{
	height:100px;
	width:100px!important;
	margin:auto;
}
#menu_drawer{
	height:100%!important;
	width:100%!important;
    background-color: rgba(255,255,255,.3);
	position: absolute;
	z-index:999;
	top:0px;
	left:-100%;
	transition-duration: 500ms;
}
p{
	margin-bottom:0px!important;
}
#menu_drawer a{
	font-weight:bold;
}
#close_menu{
	font-weight:bold;
	color:black;
	position:absolute;
	right:10px;
	bottom:10px;
	padding:10px;
}

#body_index{
	background-color:rgba(245,245,245,1);
}
.menu_mobile{
	position:absolute;
    width: 80%;
    height:100%;
    background:white;
    display: flex;
    align-items: center;
    z-index: 9999;
}
.footer{
	height:100px;
	width:100%;
	background:var(--color-primary);
	
}

@media only screen and (min-width: 768px) {
	.hidden-desktop{
		display:none!important;
	}
	.hidden-mobile{
		display:block;
	}
}
@media only screen and (max-width: 767px) {

.form-group input{
	padding:10px;
}
.form-container{
	padding:1.5rem 0.5rem;
	background:unset;
	box-shadow:unset;
	margin-top:35%;
}
.hidden-desktop{
	display:block;
}
.hidden-mobile{
	display:none!important;
}
.nav-link:hover{
	background-color: transparent;
}
.bottom_nav{
	height:50px;
	width:100%;
	position: fixed;
	bottom:0;
	left:0;
	background:white;
	border-top: 0.5px solid rgba(0,0,0,0.2);
	z-index: 99;
	display:flex;
    align-items: center;
}
.form-sort{
    border: unset;
    width: 100%;
    padding-left: 5px;
    text-align: center;
    background:transparent;
}
}