<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/diary.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:fragment="nav_wrapper">
	<nav th:replace="header::nav_desktop"></nav>
	<nav th:replace="header::nav_mobile"></nav>
</div>


<div th:fragment="snippets">
<div th:replace="snippets::menu_drawer" ></div>
<div th:replace="snippets::diary_add"></div>
<div th:replace="snippets::footer"></div>
</div>
<div th:fragment="script_footer" >
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/index.js}"></script>
</div>

</body>
</html>