<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>


	<nav th:fragment="nav_desktop"
		class="justify-content-center nav_header container-fluid hidden-mobile">

		<ul class="nav justify-content-center nav-logo">
			<li class="nav-item"><a class="h4 logo_heading"
				id="logo_heading_desktop" aria-current="page" th:href="@{/}"> </a></li>
		</ul>
		<ul class="nav justify-content-center">
		<li class="nav-item align-self-center full_name_nav">
			<a th:if="${nav == 'home'}" id="add_new" class="h6 btn nav-link add_new">Add</a></li>
			<li class="nav-item align-self-center">
			<a th:class="${nav} == 'home' ? 'nav-link active' : 'nav-link' " aria-current="page" th:href="@{/}">Home</a>
			</li>
			<li th:class="${nav} == 'user' ? 'nav-item align-self-center full_name_nav active' : 'nav-item align-self-center full_name_nav' " class="">
			<a class="nav-link full_name_nav" aria-current="page" th:href="@{user}"
				sec:authorize="isAuthenticated()">
					[[${#request.userPrincipal.principal.fullname}]] 
			</a>
			</li>
			
		</ul>
	</nav>

	<nav th:fragment="nav_mobile" class="nav_mobile hidden-desktop">
		<div class="d-flex align-items-center">
			<div class="col-4 justify-content-start">
				<img
					th:src="@{https://cdn.shopify.com/s/files/1/0642/0565/2198/files/menu_mobile.png?v=1663662372}"
					id="toggle_menu" class="icon_menu_mobile"><img>
			</div>
			<div class="col-4 justify-content-center" style="text-align: center;">
				<a class="h4 logo_heading" id="logo_heading_mobile"
					aria-current="page" th:href="@{/}"> </a>
			</div>
			<div class="col-4 justify-content-end">
			<a id="add_new" th:if="${nav == 'home'}" class="h6 btn btn-ligh nav-link add_new_mobile">Add</a>
			</div>
		</div>
	</nav>
</body>
</html>