<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments::header"></head>
<body id="body_index">
<div th:replace="fragments::nav_wrapper"></div>
<div class="container">

	<div class="col-md-6 offset-md-3 col-12 list_wrapper">
	<div class="header_component" th:text="'Total '+ ${#lists.size(diaries)} + ' diaries'"></div>
		<div class="diary_row mt-2"  th:each="diary : ${diaries}">
			<div class="f-lex row accordion_content">
			<header>
			<p class="diary_title heading" th:text="${diary.title}" ></p>
			</header>
			<div class="content">
			 <p class="diary_content" th:text="${diary.content}" ></p>
			</div>
			 </div>
		</div>
	</div>

</div>


<div th:replace="fragments::snippets"></div>
<div th:replace="fragments::script_footer"></div>
</body>
</html>