<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments::header"></head>
<body id="body_index">
<div th:replace="fragments::nav_wrapper"></div>
<div class="container">

	<div class="col-md-8 offset-md-2 col-12 list_wrapper">
	<div class="d-flex mt-1">
	<div class="col-6 header_component" th:text="'Total '+ ${#lists.size(diaries)} + ' diaries'"></div>
	<form class="d-flex col-md-3 offset-md-3 form-sort" th:action="@{/?sort={sort}}">
	Sort:
		<select onchange="this.form.submit()" class="form-sort" id="sort" name="sort">
	            <option th:each="sort : ${sorts}" th:text="${sort}" th:value="${sort}" th:selected="${sorted} == ${sort}"></option>
        </select>
	</form>
	</div>

	
		<div class="diary_row mt-2"  th:each="diary : ${diaries}">
		<!--- content row effect---> 
			<div class="d-flex accordion_content">
				<div class="col-12">
					<div class="d-flex">
					<span th:if="${delete} == 'failed'">Delete failed</span>
						<header class="header_accordion col-11">
					
							<div class="title_block">
							<span class="diary_time" th:text="${diary.last_edited}"></span>
							<p class="diary_title heading" th:text="${diary.title}" ></p>
							</div>
						</header>
						<div class="col-1">
							<div class="title_right">
								<img class="diary_option" src="https://cdn.shopify.com/s/files/1/0642/0565/2198/files/dots.png?v=1663768385"/>
								<img class="accordion_arrow" src="https://cdn.shopify.com/s/files/1/0642/0565/2198/files/bottom-arrow.png?v=1663671946"/>	
							</div>
						
					</div>		
					<div class="delete_view">
						<form class="form-group" method="POST" th:action="@{/delete?id=}+${diary.id}">
			 				<p class="nav-item col-12">You want to delete : <br/><strong>[[${diary.title}]]</strong></p>
							<input type="submit" value="Confirm" class="btn btn-warning col-12 mt-2" />
							<button type="button"class="btn btn-light col-12 mt-2 cancel_delete">Cancel</button>
						</form>
					</div>
					</div>
					<div class="content">
					
					 <p class="diary_content" th:utext="${diary.content}"></p>
					</div>
				</div>
			
			 <div class="option_view">
			 	<ul class="nav">
			 		<li class="nav-item col-12"><a class="nav-link" th:href="@{/diary?id=}+${diary.id}">Edit</a></li>
			 		<li class="nav-item col-12"><p class="nav-link confirm_delete" >Delete</p></li>
			 		<li class="nav-item col-12"><p class="nav-link cancel_option" >Cancel</p></li>
			 	</ul> 
			 </div>
			 </div>
			 <!-- end content row effect -->
		</div>
	</div>

</div>

<div th:replace="snippets::diary_add"></div>
<div th:replace="fragments::snippets"></div>
<div th:replace="fragments::script_footer"></div>
</body>
</html>