<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::header"></head>
<body id="body_login">
<div class="container justify-content-center">
	<div class="form-container col-md-4 offset-md-4 offset-0 col-12 "> 
	<div class="m-auto d-flex">
	<img class="logo_authen m-auto" th:src="@{https://cdn.shopify.com/s/files/1/0642/0565/2198/files/SyndiaryAsset_10_244x_25840170-7e1f-4cd8-a0bd-d02e5bf8a289.png?v=1663666632}" />
	</div>
    <form name="formLogin" onsubmit="return(validate_login())" class=" col-12 m-auto login_form" id="form_login" th:action="@{/j_spring_security_check}" method="POST">
        <p class="h3 mb-3">Login</p>
        <div class="col text-center m-auto">
        <span class="text-danger" th:if="${warning == 'true'}">User must be login</span>
        <span class="text-success" th:if="${register == 'success'}">Create user successfully.<br/>Please login</span>
        <span class="text-success h5" th:if="${logout == 'true'}">Log out successfully</span>
    	</div>
    	<div class="form-group">
    	<input placeholder="Username" class="form-control mt-2 login_form" type="text" name="username" id="username_login">
    	</div>
        <div class="form-group">
        <input autocomplete="false" placeholder="Password " class="form-control mt-2 login_form" type="password" name="password" id="password_login">
        </div>
        <button type="submit" class="form-control mt-2 btn btn-success" id="submitLogin" name="submit">Login</button>   
    </form>
    <a class="btn col-12 bg-light mt-2" th:href="@{/register}">Join now</a>
	</div>
</div>
<div th:replace="fragments::script_footer"></div>
<div th:replace="fragments::authen_script"></div>
</body>
</html>