<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::header"></head>
<body id="body_login">
<div class="container justify-content-center">
	<div class="form-container mt-4 col-md-4 offset-md-4 offset-0 col-12 "> 
	<div class="m-auto d-flex">
	<img class="logo_authen m-auto" th:src="@{https://cdn.shopify.com/s/files/1/0642/0565/2198/files/SyndiaryAsset_10_244x_25840170-7e1f-4cd8-a0bd-d02e5bf8a289.png?v=1663666632}" />
	</div>
    <form name="formLogin" th:object="${user}" class="form-group col-12 m-auto" id="form_register" onsubmit="check_validate()" th:action="@{/create_user}" method="POST">
        <p class="h3 mb-3">Register</p>
        <div class="col text-center m-auto">
        <span class="text-danger" th:if="${register == 'duplicate'}">Username or Email already taken</span>
    	</div>
        <input placeholder="Full name" th:value="${user.full_name}" class="form-control mt-2" type="text" name="full_name">
        <input placeholder="Username" th:value="${user.username}"  class="form-control mt-2" type="text" name="username" >
        <input placeholder="Email" th:value="${user.email}"  class="form-control mt-2" type="email" name="email">
        <select class="form-control mt-2" id="gender" name="gender">
            <option value="" hidden>Gender</option>
            <option value="1" >Male</option>
            <option value="2" >Female</option>
            <option value="3" >Unknown</option>
        </select>
        <input autocomplete="false" placeholder="Password" class="form-control mt-2" type="password" name="password">
        <input autocomplete="false" placeholder="Confirm password" class="form-control mt-2" type="password" name="confirmPassword">
        <input type="submit" class="form-control mt-2 btn btn-success" id="submitLogin" name="submit" value="Join"/>      
    </form>
    <a class="btn col-12 bg-light mt-2" th:href="@{/login}">Login Now</a>
	</div>
</div>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>