<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::header"></head>
<body>
<div th:replace="fragments::nav_wrapper"></div>



<div class="container">
	<div class="user_wrapper col-md-6 offset-md-3 col-12">
		<div class="row mt-2 user_frame">
			<div class="avatar_frame col-md-2 col-12 mt-2">
			<img th:src="@{/user/images/}+${user.username}" class="profile_image" />
			</div>
			<div class="info_frame col-md-10 col-12">
				<p class="h3 ">[[${user.full_name}]]</p>
				<p class="h6 mt-2" th:text="'Username: '+${user.username}"></p>
				<p class="h6 mt-2" th:text="'Email: '+${user.email}"></p>
				<p class="h6 mt-2" th:if="'Gender: '+${user.gender} == 1">Man</p>
				<p class="h6 mt-2" th:if="'Gender: '+${user.gender} == 2">Woman</p>
				<p class="h6 mt-2" th:if="'Gender: '+${user.gender} == 3">Unknown</p>
				<p class="h6 mt-2" th:text="'Joinded at: '+${user.joined_at}"></p>
			</div>
		</div>
		<a class="btn btn-danger text-white col-12 mt-2" th:href="@{/auth/logout}">Log out</a>
	</div>
</div>
<div th:replace="fragments::snippets"></div>
<div th:replace="fragments::script_footer"></div>
</body>
</html>